@using System.Resources
@using ITProjectTryThree.Controllers
@model ITProjectTryThree.Models.Collection

@{
    ViewData["Title"] = "Delete";
    var culture = Context.Request.Cookies["Culture"];
    string lang = Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName;
    ResourceManager rm = new ResourceManager($"ITProjectTryThree.Resources.Strings-{lang}", typeof(HomeController).Assembly);
}


<h1>@rm.GetString("sDelete")</h1>

@if (!User.Identity.IsAuthenticated)
{
    <p>@rm.GetString("sDeleteLogin")</p>
    <a asp-action="Index" class="btn btn-primary">@rm.GetString("sCollections")</a>
}
else if (Model.Owner != User.Identity.Name && User.IsInRole("user"))
{
    <p>@rm.GetString("sNotOwner")</p>
    <a asp-action="Index" class="btn btn-primary">@rm.GetString("sCollections")</a>
}
else {
<h3>@rm.GetString("sSure")</h3>
<div>
    <h4>@rm.GetString("sCollection")</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @rm.GetString("sOwner")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt class="col-sm-2">
            @rm.GetString("sTitle")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @rm.GetString("sType")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class="col-sm-2">
            @rm.GetString("sDescription")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        @if (!string.IsNullOrEmpty(Model.IntName1))
        {
            <dt class="col-sm-2">
                @rm.GetString("sOptionalNumber")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IntName1)
            </dd>
        }
        @if (!string.IsNullOrEmpty(Model.IntName2))
        {
            <dt class="col-sm-2">
                @rm.GetString("sOptionalNumber")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IntName2)
            </dd>
        }
        @if (!string.IsNullOrEmpty(Model.IntName3))
        {
            <dt class="col-sm-2">
                @rm.GetString("sOptionalNumber")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IntName3)
            </dd>
        }
        @if (!string.IsNullOrEmpty(Model.StringName1))
        {
            <dt class="col-sm-2">
                @rm.GetString("sOptionalString")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StringName1)
            </dd>
        }
        @if (!string.IsNullOrEmpty(Model.StringName2))
        {
            <dt class="col-sm-2">
                @rm.GetString("sOptionalString")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StringName2)
            </dd>
        }
        @if (!string.IsNullOrEmpty(Model.StringName3))
        {
            <dt class="col-sm-2">
                @rm.GetString("sOptionalString")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.StringName3)
            </dd>
        }
        @if (!string.IsNullOrEmpty(Model.BoolName1))
        {
            <dt class="col-sm-2">
                @rm.GetString("sOptionalCheckbox")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BoolName1)
            </dd>
        }
        @if (!string.IsNullOrEmpty(Model.BoolName2))
        {
            <dt class="col-sm-2">
                @rm.GetString("sOptionalCheckbox")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BoolName2)
            </dd>
        }
        @if (!string.IsNullOrEmpty(Model.BoolName3))
        {
            <dt class="col-sm-2">
                @rm.GetString("sOptionalCheckbox")
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.BoolName3)
            </dd>
        }
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="@rm.GetString("sDelete")" class="btn btn-danger" />
        <a class="btn btn-primary btn-secondary" asp-action="Index">@rm.GetString("sCollections")</a>
        <a class="btn btn-primary btn-primary" asp-area="" asp-controller="Account" asp-action="UserPage" asp-route-name="@User.Identity?.Name">@rm.GetString("sProfile")</a>
    </form>
</div>
}

