@using System.Resources
@using ITProjectTryThree.Controllers
@using ITProjectTryThree.Models.ViewModels
@model EditItemViewModel

@{
    ViewData["Title"] = "Edit";
    var col = @Model.ThisCollection;
    var culture = Context.Request.Cookies["Culture"];
    string lang = Thread.CurrentThread.CurrentUICulture.TwoLetterISOLanguageName;
    ResourceManager rm = new ResourceManager($"ITProjectTryThree.Resources.Strings-{lang}", typeof(HomeController).Assembly);
}

<h1>@rm.GetString("sEdit")</h1>

<hr />
<h4>@rm.GetString("sItem")</h4>
<hr />
@if (!User.Identity.IsAuthenticated)
{
    <p>@rm.GetString("sEditLogin")</p>
    <a asp-action="Index" class="btn btn-primary">@rm.GetString("sCollections")</a>

}
else if (Model.ThisItem.Owner != User.Identity.Name && User.IsInRole("user"))
{
    <p>@rm.GetString("sNotOwner")</p>
    <a asp-action="Index" class="btn btn-primary">@rm.GetString("sCollections")</a>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <form method="post" asp-action="Edit" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ThisItem.Id" value="@Model.ItemId" />
                <input type="hidden" asp-for="ThisItem.Owner" value="@Model.ThisCollection.Owner" />
                <input type="hidden" asp-for="ThisItem.CollectionId" value="@Model.ThisCollection.id" />
                <input type="hidden" asp-for="ThisItem.ImagePathString" value="qwerty" />
                <div class="form-group">
                    <label asp-for="ThisItem.Title" class="control-label">@rm.GetString("sTitle")</label>
                    <input asp-for="ThisItem.Title" class="form-control" />
                    <span asp-validation-for="ThisItem.Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ThisItem.Description" class="control-label">@rm.GetString("sDescription")</label>
                    <input asp-for="ThisItem.Description" class="form-control" />
                    <span asp-validation-for="ThisItem.Description" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ThisItem.Image" class="control-label">@rm.GetString("sImage")</label>
                    <input type="file" asp-for="ThisItem.Image" class="form-control" data-val="false" accept="image/*" />
                    <span asp-validation-for="ThisItem.Image" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ThisItem.Tags" class="control-label">@rm.GetString("sTags") @rm.GetString("sSep")</label>
                    <input asp-for="ThisItem.Tags" class="form-control" data-val="false" />
                    <span asp-validation-for="ThisItem.Tags" class="text-danger"></span>
                </div>
                @if (Model.ThisCollection.IntName1 != null)
                {
                    <div class="form-group">
                        <label class="control-label">@Model.ThisCollection.IntName1</label>
                        <input asp-for="ThisItem.IntCustom1" class="form-control" type="number" min="@int.MinValue" max="@int.MaxValue" />
                        <span asp-validation-for="ThisItem.IntCustom1" class="text-danger"></span>
                    </div>
                }
                @if (Model.ThisCollection.IntName2 != null)
                {
                    <div class="form-group">
                        <label class="control-label">@Model.ThisCollection.IntName2</label>
                        <input asp-for="ThisItem.IntCustom2" class="form-control" type="number" min="@int.MinValue" max="@int.MaxValue" />
                        <span asp-validation-for="ThisItem.IntCustom2" class="text-danger"></span>
                    </div>
                }
                @if (Model.ThisCollection.IntName3 != null)
                {
                    <div class="form-group">
                        <label class="control-label">@Model.ThisCollection.IntName3</label>
                        <input asp-for="ThisItem.IntCustom3" class="form-control" type="number" min="@int.MinValue" max="@int.MaxValue" />
                        <span asp-validation-for="ThisItem.IntCustom3" class="text-danger"></span>
                    </div>
                }

                @if (Model.ThisCollection.StringName1 != null)
                {
                    <div class="form-group">
                        <label class="control-label">@Model.ThisCollection.StringName1</label>
                        <input asp-for="ThisItem.StringCustom1" class="form-control" />
                        <span asp-validation-for="ThisItem.StringCustom1" class="text-danger"></span>
                    </div>
                }
                @if (Model.ThisCollection.StringName2 != null)
                {
                    <div class="form-group">
                        <label class="control-label">@Model.ThisCollection.StringName2</label>
                        <input asp-for="ThisItem.StringCustom2" class="form-control" />
                        <span asp-validation-for="ThisItem.StringCustom2" class="text-danger"></span>
                    </div>
                }
                @if (Model.ThisCollection.StringName3 != null)
                {
                    <div class="form-group">
                        <label class="control-label">@Model.ThisCollection.StringName3</label>
                        <input asp-for="ThisItem.StringCustom3" class="form-control" />
                        <span asp-validation-for="ThisItem.StringCustom3" class="text-danger"></span>
                    </div>
                }

                @if (Model.ThisCollection.BoolName1 != null)
                {
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="ThisItem.BoolCustom1" /> @Model.ThisCollection.BoolName1
                        </label>
                    </div>
                }
                @if (Model.ThisCollection.BoolName2 != null)
                {
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="ThisItem.BoolCustom2" /> @Model.ThisCollection.BoolName2
                        </label>
                    </div>
                }
                @if (Model.ThisCollection.BoolName3 != null)
                {
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="ThisItem.BoolCustom3" /> @Model.ThisCollection.BoolName3
                        </label>
                    </div>
                }

                <div class="form-group">
                    <input type="submit" value="@rm.GetString("sEdit")" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
